@charset "utf-8";
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
}
#headingFour1 .mb-0 .collapsed {
    color: #FF1115;
}
#headingThree1 .mb-0 .collapsed {
    color: #C13D45;
}
#headingTwo1 .mb-0 .collapsed {
    color: #E16668;
}
#headingOne1 .mb-0 a {
    color: #C34E50;
}
body {
    background-color: #E08485;
}
.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand {
    color: #4C1BB5;
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    color: #6AC913;
}
#headingOne1 .mb-0 a {
    color: #D85658;
}
#headingTwo1 .mb-0 .collapsed {
    color: #371A9B;
}
#headingFour1 .mb-0 .collapsed {
    color: #2BB1C1;
}


#headingThree1 .mb-0 .collapsed {
    color: #C8D400;
}
.container-fluid .container #textDuoi {
    margin-left: 237px;
    margin-top: -100px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: x-large;
    color: #24208B;
    font-style: oblique;
}







.navbar-nav.mr-auto .nav-item .nav-link {
    color: #D12771;
}
#Foot {
	    width: 1110px;
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,121,121,1.00) 52.33%,rgba(255,0,0,1.00) 100%);
}
